@page
@model AboutusModel
@{
    ViewData["Title"] = "About us page";
}

<div class="text-center">
    <h1 class="display-4">About us</h1>
    <hr/>
    <h2>Transflower Learning Pvt. Ltd</h2>
    <p>Doing ordinary things extra Ordinaily...</p>
</div>
