@page
@model ContactModel
@{
    ViewData["Title"] = "Contact page";
}

<div class="text-center">
    <h1 class="display-4">Contact</h1>
    <hr/>
    <h2>Transflower Learning Pvt. Ltd</h2>
    <p>601, Rama Apartment</p>
    <p>Walvekar Nagar, Pune Satara Road</p>
     <p>Pune 411009</p>
     <p>Contact Number: 9881735801</p>
     <p>Email: ravi.tambade@transflower.in</p>
</div>
