@page
@model ProductsModel
@{
    ViewData["Title"] = "Products Page";
}

<div class="text-center">
    <h1 class="display-4">Products for Sale...</h1>
    <hr/>
    <h2>Todays Flowers</h2>
    <ol>
        <li>Gerbera</li>
        <li>Rose</li>
         <li>Marigold</li>
    </ol>
</div>
