@page
@model AboutusModel
@{
    ViewData["Title"] = "Register page";
}

<div class="text-center">
    <h1 class="display-4">Register</h1>
    <hr/>
    <h2>User Registration</h2>
     
     <hr/>
     <hr/>
   <div class="container">
    <form>
        <input type="text" name="username" placeholder="Username" required> <br/>
        <input type="password" name="password" placeholder="Password" required> <br/>
         <input type="password" name="confirmpassword" placeholder="Confirm Password" required> <br/>
        <input type="submit" value="Register">
        
    </form>
    </div>
 
</div>
