@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
     
</div>


<!--
    this View : responsible for Presentation
    cshmtl files
-->

<h1>Our Details</h1>
<p>Phone No: 9881735801</p>
<p>Email: ravi.tambade@Transflower.in</p>
