@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Transflower</h1>
</div>

<h1>Transflower Greenhouse</h1>
<hr/>

    <div>
      <img  src="/image/Greenhouse.jpg" width="50%" style="50%"/>
    </div>
    
    <div>
      <img  src="/image/Greenhouse2.jpg" width="50%" style="50%"/>
    </div>
   
    <div>
        <img  src="/image/Greenhouse3.jpg" width="50%" style="50%"/>
    </div>