@{
    ViewData["Title"] = "List Page";
}

<div class="text-center">
    <h1 class="display-4">Products List</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<!--
    this View : responsible for Presentation
-->


<h1>Product Available</h1>

<ol>
    <li>Gerbera</li>
    <li>Rose</li>
    <li>Lotus</li>
    <li>Jasime</li>
</ol>
